models/deep_ensemble
models/deterministic_uq
models/embedded_dropout
models/embedded_dropout_full_bayes
models/injected_dropout
models/pretrained_baselines

models/deep_ensemble/*
models/deterministic_uq/*
models/embedded_dropout/*
models/embedded_dropout_full_bayes/*
models/injected_dropout/*
models/pretrained_baselines/*

experiments/*
datasets/*

__pycache__
attacks/__pycache__
models/__pycache__
utils/__pycache__

models/*.zip
models/*.rar
*.zip
*.txt
.vscode


zzzz_junk/
scode_exp/
scode_exp copy/
models/zip_files/


/models/cifar10/
/models/imagenet/

.idea/

.vscode/

figures/

*.ipynb